{% extends 'padre.html' %}

{%load static%}


{%block AboutUs %}
<style>
    #logout{position: relative; top: -38px;margin-left: 75px;}
    #notlogged{position: relative; top: 6px; left: 50px;}
</style>



<ul class="navbar-nav ms-auto my-2 my-lg-0">

    <li class="nav-item"><a class="nav-link" href="{% url 'estudios.html' %} ">Estudios</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'experiencia' %}">Experiencia</a></li>
    <li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
    <li class="nav-item"><a class="nav-link">
        {% if user.is_authenticated %}
        <p><a class="nav-link" href="{% url 'logout' %}">Log Out</a></p>
        <p class="nav-link" id="logout">Hi {{ user.username }}!</p> 
        {% else %}
        <a class="nav-link" href="{% url 'login' %}">Log In</a></li>
        </ul>
        <p style="color: RED" id="notlogged">You are not logged in</p>
        
{% endif %}


{%endblock%}