<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>

    {% load static %}
    
    <link rel="stylesheet" type= "text/css" href="{% static 'App1/css/stylesheetBlog.css' %}">
</head>
<body>
    <h1>Prueba blog</h1>
    <section class="row container">
        {% for elemento in articulos %}
            <article class="publicacion container">
                <h3 class="titulos">{{elemento.nombre}}</h3>
                <p class="parrafos col-12 col-xxl-8 my-auto">{{elemento.contenido}}</p>
                <img class="imagenes col-12 col-xxl-4 mx-auto my-auto" src="{{elemento.imagen}}" alt="imagen blog">
                <footer class="pie">{{elemento.autor}}</footer>
            </article>
        {%endfor%}
    </section>
</body>
</html>