{% extends 'padre.html' %}
{% load static %}
{% block estudios %}

<style>
    .tercera:hover .display{display:block;background-color: white;}
    .primera{text-align: center;;margin-left: 26.5%}
    .segunda{color:white;margin-left: 26.5%;}
    .tercera{margin-top: 3%;text-align:center;width:600px;margin-left: 26.5%;}
    p{color: black;}
    .epp{color: white;text-align: center;margin-bottom: 30px;margin-top: 15px;font-size: larger;}
    table.default{border-right:1px;border: solid;border-radius: 1%; text-align: center;font-size:smaller;background-color: white;}
    tr.default{border-bottom: 0.5px solid;}
    .boton{border:none;padding:8px}
    .display{display: none;background-color: white;margin-right: 57%;border: none;}
    #puesto{margin-left: 26.6%;}
    .div:hover .display{display: block;margin-left: 28.2%;margin-top: -1.85%;}
    .mas{margin-left: 26.5%;border:none;}
    a{color:black;text-decoration: none;}
    a:hover{color: red;}
    

    </style>

<div >
    <div class="epp">Experiencia por persona
    </div>
<!--     <div class="segunda">
        Buscar puesto:
    </div>
    <div class="buscar">
        <form action="buscar/" method="get">
    
            <input type="text" name="puesto" id="puesto">
        
            <input type="submit" value="Enviar" />
        
        
        </form>
    </div> -->
<section class="primera">

    <table class="default" >
        <thead>
            <tr class="default">
                <td>Persona</td>
                <td>Puesto</td>
                <td>Empresa</td>
                <td>Año_Comienzo</td>
                <td>Año_finalizacion</td>
            </tr>
        </thead>
        <tbody>
            {% for x in object_list %}
            <tr class="default">
                <td>{{x.persona}}</td>
                <td>{{x.puesto}}</td>
                <td>{{x.empresa}}</td>
                <td>{{x.año_comienzo}}</td>
                <td>{{x.año_finalizacion}}</td>
                <td><a href="{% url 'experiencia-edit' x.pk %}">Editar</a></td>
                <td><a href="{% url 'experiencia-eliminar' x.id %}">Eliminar</a></td>

            </tr>    
            {%endfor%}
        </tbody>
    </table>
</section>
</div>

<div class="tercera">  
    <button class="boton"><a href="{% url 'experiencia-create' %}">CREAR PUESTO + </a>
          
    </button>
<!-- <section class="primera">
<form method="POST" action="">
    {% csrf_token %}
    <div class ="display">
    <table class="w3">
        <td>
            {{ form.as_table }}
        </td>
        
    </table>
    <input type="submit" value="Enviar" />
</div>
</form>
</section>  -->
{% endblock %}
