{% extends 'padre.html' %}
{% load static %}

{% block foto %}
<img src="./App1/static/App1/assets/img/Facundo.jpg" alt="Facundo Nuñez" width="300" height="200">
{% endblock %}

{% block nombre %}
<h2 class="text-white mt-0">Mi nombre es Facundo Nuñez, soy analista de datos. </h2>
{% endblock %}

{% block experto %}
<div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
<h3 class="h4 mb-2">Experto en bases de datos.</h3>
<p class="text-muted mb-0">Manejo de Excel,MySQL,SQL Server,Access,SQLite.</p>
{% endblock %}

{% block programacion %}
<div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
<h3 class="h4 mb-2">Lenguajes de Programacion</h3>
<p class="text-muted mb-0">Manejo de HTML&CSS, Python, C#.</p>
{% endblock %}

{% block experiencia %}
<div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
<h3 class="h4 mb-2">Experiencia laboral</h3>
<p class="text-muted mb-0">2 años con un microemprendimiento de diseño, 2 años de analista de inventarios en MercadoLibre.</p>
{% endblock %}

{% block responsable %}
<div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
<h3 class="h4 mb-2">Apasionado por los datos.</h3>
<p class="text-muted mb-0">Entusiasta por conocimiento variado, en constante aprendizaje y ansioso por desarrollar mi experiencia laboral en el área.</p>
{% endblock %}

{% block git %}
<h2 class="mb-4">Estos son algunos de mis proyectos:</h2>
<a class="btn btn-light btn-xl" href="https://github.com/Cacuuu" target="_blank">Ir a GIT</a>
{% endblock %}