{% extends 'padre.html' %}
{% load static %}

{% block foto %}
<img title="Foto" HSPACE=100 VSPACE= 100 src="foto" >
{% endblock %}

{% block nombre %}
<h2 class="text-white mt-0">Federico Maguera - Ingeniero Industrial</h2>
{% endblock %}

{% block experto %}
<div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
<h3 class="h4 mb-2">Ingeniero Industrial</h3>
<p class="text-muted mb-0">Internal Audit Project Management</p>
{% endblock %}

{% block programacion %}
<div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
<h3 class="h4 mb-2">Lenguajes de programacion</h3>
<p class="text-muted mb-0">HTML, CSS, Javascrypt, Python, C++</p>
{% endblock %}

{% block experiencia %}
<div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
<h3 class="h4 mb-2">Experiencia laboral</h3>
<p class="text-muted mb-0">4 años en atencion al cliente en un kiosco</p>
<p class="text-muted mb-0">2 años en PWC en auditoria interna</p>
{% endblock %}

{% block responsable %}
<div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
<h3 class="h4 mb-2">En constante desarrollo</h3>
<p class="text-muted mb-0">Con ganas de desarrollar mi carrera profesional adquiriendo distintas herramientas </p>
{% endblock %}

{% block git %}
<h2 class="mb-4">Proyectos en Github</h2>
<a class="btn btn-light btn-xl" href="https://github.com/fedemag1998">Ir a GIT</a>
{% endblock %}