<!DOCTYPE html>

<style>
    #logout{position: relative; top: -38px;margin-left: 75px;}
    #notlogged{position: relative; top: 6px; left: 50px;}
</style>

<html lang="en">
    <head>

        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Creative - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'App1/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'Inicio.html' %}">Inicio</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    {%block AboutUs %}
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'Aboutus' %} ">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %} ">Estudios</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'experiencia' %} ">Experiencia</a></li>
                        <li class="nav-item"><a class="nav-link" href="">Blog</a></li>
                        <li class="nav-item"><a class="nav-link">
                            {% if user.is_authenticated %}
                            <p><a class="nav-link" href="{% url 'logout' %}">Log Out</a></p>
                            {%endif%}
                        
                    {%endblock AboutUs%}

<!--                         <li class="nav-item"><a class="nav-link" href="{% url 'portfolio.html' %}">Portfolio</a></li>
 -->                        
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        {%block login%}

        <header class="masthead">
                         {% block estudios %}

            <div class="container px-4 px-lg-5 h-100">
                {%block inicio%}


                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Nuestra página web</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Toca un nombre para conocerlo mejor.</p>
                        <a class="btn btn-primary btn-xl" href="{% url 'facundonunez.html' %}#about">Facundo Nuñez</a>
                        <a class="btn btn-primary btn-xl" href="{% url 'federicomaguera.html' %}#about">Federico Maguera</a>
                        <a class="btn btn-primary btn-xl" href="{% url 'facundocoquet.html' %}#about">Facundo Coquet</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- About-->


        <section class="page-section bg-primary" id="about" enctype="multipart/form-data">
            <div class="container px-8 px-lg-8">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    {% block foto %}
                    <img title="Foto" HSPACE=100 VSPACE= 100 src="foto" >
                    {% endblock %}
                    <div class="col-lg-8 text-center">
                        {% block nombre %}
                        <h2 class="text-white mt-0">Nombre de la persona. </h2>
                        {% endblock %}
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4"></p>
                        <a class="btn btn-light btn-xl" href="#services">Ver CV</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">Resumen</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            {% block experto %}
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Creada por y para los estudiantes.</h3>
                            <p class="text-muted mb-0"></p>
                            {% endblock %}
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            {% block programacion %}
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Dinámica y en evolución.</h3>
                            <p class="text-muted mb-0"></p>
                            {% endblock %}
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            {% block experiencia %}
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Accedé desde donde quieras.</h3>
                            <p class="text-muted mb-0"></p>
                            {% endblock %}
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            {% block responsable %}
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Hecha con dedicación.</h3>
                            <p class="text-muted mb-0"></p>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <!--<div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg" title="Project Name">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/1.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="../App1/assets/img/portfolio/fullsize/2.jpg" title="Project Name">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/2.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg" title="Project Name">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/3.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/4.jpg" title="Project Name">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/4.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/5.jpg" title="Project Name">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/5.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/6.jpg" title="Project Name">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/6.jpg" alt="..." />
                            <div class="portfolio-box-caption p-3">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        -->
        <!-- Call to action-->
        
        <section class="page-section bg-dark text-white">
            <div class="container px-4 px-lg-5 text-center">
                {% block git %}
                <h2 class="mb-4">Volvé y clickea un estudiante.</h2>
                <a class="btn btn-light btn-xl" href="{% url 'Inicio.html' %}">Volver</a>
                {% endblock %}
            </div>
        </section>

        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Proyecto_Final &copy; 2022 - FFF</div></div>
        </footer>

        {%endblock inicio%}

                {%endblock estudios%}
                

                {%endblock login%}




        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>

</html>
