*{
    border:0;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(40, 213, 94);
}

h1{
color:white;
}

.nuevoBlog
{
    background-color:blue;
/*     display: inline-block; */
    border-radius: 10px;
    font-family: 'PT Serif', serif;
    box-shadow: 2px 2px 2px black;
    margin-bottom: 4rem;
    width: 33%; 
    margin-left: auto;
    margin-right: auto;
}

.publicacion
{
    background-color:white;
/*     display: inline-block; */
    border-radius: 10px;
    font-family: 'PT Serif', serif;
    box-shadow: 2px 2px 2px black;
    margin-bottom: 4rem;
    width: 33%; 
    margin-left: auto;
    margin-right: auto;
}

.parrafos
{
    margin: 1rem;
    text-align: center;
}

.titulos{
    font-size: 1.5rem;
    text-align: center;
}

.imagenes{
    display: block;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.pie{
    padding: 0.7rem;
    font-size: 0.7rem;
}

